{
  "extends": ["@smartive/eslint-config/react"],
  "ignorePatterns": ["*.mdx"],
  "overrides": [
    {
      "files": [
        "src/components/button/button.tsx",
        "src/components/navigationItem/navigation-item.tsx",
        "src/components/text-link/text-link.tsx"
      ],
      "rules": {
        "react/forbid-component-props": ["error", { "forbid": [] }]
      }
    }
  ]
}
